.like-item {
    font-size: 18px;
    color: darkslategrey;
    border: 1px solid blanchedalmond;
    list-style-type: none;
}

header a {
    padding-right: 30px;
}

nav a {
    margin-right: 10px;

}

nav {
    background: bisque;
}

.post__photo {
    width: 100%;
}

.loader {
    width: 50px;
    height: 50px;
}

.soundcloud {
    padding-right: 20px;
}